<div class="container">
  <div class="row">
    <div class="col-12 mt-5">
      <h1>Hi! <%= user.fullName %> <i class="fas fa-smile"></i></h1>
      <h4>Welcome To Dashboard...</h4>
      <br />
      <a href="/logout" class="btn btn-danger"
        >Logout <i class="fa fa-sign-out-alt"></i
      ></a>
    </div>
  </div>
</div>
